<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlobalShipAddressWebServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="LocationsSearchWebServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <GlobalShipAddressWebServiceClient.Properties.Settings>
        <setting name="LocationsSearchWebServiceClient_LocationsWebReference_SearchLocationsService"
          serializeAs="String">
          <value>https://wsbeta.fedex.com:443/web-services/locs</value>
        </setting>
        <setting name="GlobalShipAddressWebServiceClient_WebReference_LocationsService"
          serializeAs="String">
          <value>https://wsbeta.fedex.com:443/web-services/locs</value>
        </setting>
      </GlobalShipAddressWebServiceClient.Properties.Settings>
      <LocationsSearchWebServiceClient.Properties.Settings>
        <setting name="LocationsSearchWebServiceClient_LocationsWebReference_SearchLocationsService"
          serializeAs="String">
          <value>https://wsbeta.fedex.com:443/web-services/locs</value>
        </setting>
      </LocationsSearchWebServiceClient.Properties.Settings>  
  </applicationSettings>

  <system.net>
    <defaultProxy useDefaultCredentials="true" >
    </defaultProxy>
  </system.net>
</configuration>